local/
cfn/
collectors/
node_modules/
.idea/
nbproject/
.nyc_output/
coverage/
*.coverage.xml
*.covertool.xml
.ps_outputs/
test/ide_test.js
.env
.project
**.zip
**/report.xml
PULL_REQUEST_TEMPLATE.md
.travis.yml
